body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    background-color: #FAFAFA;
}

main,
footer {
    max-width:900px;
}

main {
    margin-top:60px;
    animation:.5s fadeMain linear;
}

@keyframes fadeMain {
	from{
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform:none;
		opacity:1;
	}
}

input:focus {
    outline:none;
}

textarea:focus {
	outline:none;
}