body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    background-color: #FAFAFA;
}

main,
footer {
    max-width:900px;
}

main {
    margin-top:60px;
}

input:focus {
    outline:none;
}
textarea:focus {
	outline:none;
}