@media only screen 
	and (min-width: 320px)
	and (max-width: 650px){
		
		.navigation__column input,
		.navigation__column .fa-search{
			display:none;

		}
		.navigation{
			padding:0 20px;
		}

		main{
			margin-top:0;
		}

		.navigation__link{
			margin-left: 20px;
		}

		.photo{
			background-color:transparent;
			border: none;
			margin-bottom: 16px;
		}

		.photo .photo__add-comment-container {
			display: none;
		}

		footer{
			margin-bottom: 20px;
		}

		footer, 
		.footer__list {
			justify-content: center;
		}

		.footer__list {
			margin-bottom: 20px;
		}

		.footer__item {
			margin-bottom: 10px;
		}

    #phone-image{
        display: none;
    }

    #login{
        width:100%;
    }

    .login{
        width:95%;
    }

    .login__box{
        background-color: transparent;
        border:none;
    }

    .login__box--form{
        padding-top: 0;
    }

    .explore {
    	background-color: transparent;
    }

    .people__user{
    	border:none;
    }
}